.inputs {
  display: flex;
  justify-content: center;
  align-items: column;
  background-image: linear-gradient(black, rgb(98, 56, 56));
  border-radius: 1em;
  padding: 2%;
}

label {
  color: aliceblue;
  font-size: 33pt;
}

.inputs input {
  margin: 2%;
}

.contact h1 {
  margin: 2%;
  max-width: 80%;
  background-color: black;
  border-radius: 2em;
  display: flex;
  justify-content: center;
  margin-left: 7%;
}
