.project-grid {
  margin-top: 2%;
}

.project-grid img {
  margin: 10%;
  margin-left: 12%;
}

.project-grid img:hover {
  transform: scale(1.75);
}

.project-grid h1 {
  font-size: 55pt;
  background-image: linear-gradient(black, rgb(98, 56, 56));
  border-radius: 1em;
}
