.resumePage {
  display: flex;
  flex-direction: column;
  justify-content: row;
}

.resumePage a {
  display: inline-flex;
  width: 30%;
  flex-direction: column;
}

.resumeFooter {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(black, rgb(98, 56, 56));
  border-radius: 1em;
  text-align: center;
}
